<% layout('/layout/template') %>

<div class=" col-4 mt-5 accuser">
    <h2> <strong>Hi, <%=curUser.username%></strong></h2>
    <img src="https://i.ibb.co/jkv1GRrC/hi-emoji.png" alt="">
</div>

<div class="bodyContent mt-3">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 ">
       
    </div>
</div>